<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>evenement</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
    <body>
        <header>
            <nav>
                <div class="logo">Logo:</div>
                <ul class="nav-links">
                    <li>Home</li>
                    <li>Événements</li>
                    <li>Artistes</li>
                    <li>Contact</li>
                </ul>
                <button class="btn-gradient">Connexion</button>
            </nav>
        </header>




    </body>

    <footer>

    </footer>
</html>