/* --- 5. HERO SECTION --- */
.hero {
    display: flex;
    padding: 20px 5% 80px;
    align-items: center;
    min-height: 85vh;
    position: relative;
    
}

/* Lueur d'ambiance */
.hero::before {
    content: '';
    position: absolute;
    top: -15%; right: -10%;
    width: 700px; height: 700px;
    background: var(--gradient-glow);
    z-index: -1;
    pointer-events: none;
}

.hero-text {
    flex: 1;
    padding-right: 60px;
    z-index: 2;
}

h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    margin-bottom: 25px;
    background: linear-gradient(to right, #fff, #ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-desc {
    color: var(--text-gray);
    margin-bottom: 40px;
    max-width: 450px;
    font-size: 1.1rem;
}

.hero-visuals {
    flex: 1;
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: flex-end;
}

/* Images arches */
.arch-img {
    width: 220px; height: 320px;
    object-fit: cover;
    border-radius: 110px 110px 0 0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.arch-gradient {
    width: 220px; height: 320px;
    border-radius: 0 0 110px 110px;
    background: var(--gradient-orange-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
}