/* --- 1. RESET & BASE STYLES --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
}

body {
    background-color: #050505; /* Fond presque noir */
    color: #ffffff;
    overflow-x: hidden;
    line-height: 1.5;
}

a { text-decoration: none; color: white; transition: 0.3s; }
ul { list-style: none; }
img { display: block; max-width: 100%; }