/* --- 1. RESET & BASE STYLES --- */
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    background-color: #050505;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1.6;
    padding-top: 60px;
}
h1, h2, h3, h4, h5, .logo, .btn-gradient { font-family: 'Montserrat', sans-serif; }
a { text-decoration: none; color: white; transition: 0.3s; }
ul { list-style: none; }
img { display: block; max-width: 100%; }